body{
	margin: 80px 20%;
	font-family: ubuntu;
	font-size: 20px;


}
header{
	top:0;
	position: fixed;
	width: 60%;
	background: white;
}
hr
{
	color: #004D40;
	border-width: 3px;
	width: 100%;
}

nav{
	text-align: right;
	top:0;
	float: right;

}
div.head
{
	float: left;
}

a.nav
{
	color: #616161;
	text-decoration: none;
	padding: 5px 15px;
	text-transform: uppercase;
}
a.nav:hover
{
	color:white;
	background-color: black;
	padding: 5px 15px;
	border-radius: 15px;	
}
div.contacto{
	text-align:center;
	color: blue;
}

div.container
{
 padding: 15px;
 width: 90%;
 height: 300px;


 vertical-align: middle;
}
div.container > img
{
	height:   70%;
	float: left;
	margin-right: 15px;
}
div.container > p
{
	margin-left: 15px;
	text-align: justify;
	width: 100%;
	align-items: center;
}

footer
{
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	width: 100%
}
table
{
	margin-left: 5%;
	width: 100%;
	align-items: center;
}

a.tab
{
	margin: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: #616161;
}
a.tab:hover
{
	text-decoration: underline;

}
article.sobre
{
	text-align: center;
	box-shadow: 3px 3px 0 lightgrey, -1px -1px 0 lightgrey, 1px -1px 0 lightgrey, -1px 1px 0;
	margin: 50px;
}
article.sobre>div>h1
{
	background-color: lime;
}

img.picture
{
	height: 100%;
}
textarea
{
	resize: none;
}
input[type=text]{
	width: 90%;
}
input[type=submit]
{
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	width: 97%;
}
textarea{
	width: 97%
}
form
{
	align-items: center;
	
}
div.form
{
	width: 100%;
	box-shadow: 3px 3px 0 lightgrey, -1px -1px 0 lightgrey, 1px -1px 0 lightgrey, -1px 1px 0;
}